.inner.hero-inner{
    display: flex;
    align-items: center;
    height: 100vh;

    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translateY(-4rem);
        }
        to {
            opacity: 1;
            transform: translateY(0); // 원위치
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(4rem);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeInCenter {
        from {
            opacity: 0;
            transform: scale(0.9);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes fadeInRight {
        from {
            opacity: 0;
            transform: translateX(4rem);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    h1.tit {
        span {
            opacity: 0; // 초기 상태: 안 보임
            animation: fadeInUp 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards; // 0.8초간 실행

            // 각 줄마다 딜레이를 주어 순서대로 나타나게 함
            &:nth-child(1) {
                animation: fadeInDown 3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
                animation-delay: 0.3s;
            }
            &:nth-child(2) {
                animation: fadeInCenter 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
                animation-delay: 0.1s;
            }
            &:nth-child(3) {
                animation: fadeInUp 3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
                animation-delay: 0.3s;
                text-align: right;
                display: block;
            }
        }
    }

    p.txt {
        position: absolute;
        text-align: right;
        right: 2rem;
        bottom: 10rem;

        opacity: 0;
        animation: fadeInRight 4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        animation-delay: 1s;
        
        @media screen and (max-width:599px){
            font-size: 1.6rem;
            // width: 50%;
        }
        @media screen and (max-width:399px){
            display: none;
        }
    }
    .arrow {
        position: absolute;
        bottom: 3rem;
        left: calc(50% - 1.5rem);
        animation: up 1s infinite alternate ease-in-out;

        opacity: 0;
        animation: fadeInUp 2s cubic-bezier(0.16, 1, 0.3, 1) forwards, up 1s infinite alternate ease-in-out; 
        animation-delay: 0.8s;
    }
}