.inner.admin-contact{
    h2{
        font-size: 2rem;
        margin-top: 1.5rem;
        color: #333;
    }
    .contact-list{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        >li{
            flex: 1;
            width: clamp(250px, 30%, 400px);
            background-color: #fff;
            padding: 1.5rem;
        }
    }
}